
 
 
 <!-- Bootstrap -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" routerLink="/home">Bookshop</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item dropdown" *ngIf="loggedUser">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLivres" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Livres
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownLivres">
                    <li><a class="dropdown-item" routerLink="/add-livre" *ngIf="loggedUser  && (AdminOrUser == 'Admin')">Ajouter</a></li>
                    <li><a class="dropdown-item" href="#">Lister</a></li>
                    <li><a class="dropdown-item" routerLink="/rechercheParGenre">Recherche Par Genre</a></li>
                    <li><a class="dropdown-item" routerLink="/rechercheParTitre">Recherche Par Titre</a></li>
                    <li><a class="dropdown-item" routerLink="/rechercheParNom">Recherche Par Auteur</a></li>
                    <li><a class="dropdown-item" routerLink="/genres" *ngIf="loggedUser  && (AdminOrUser == 'Admin')">Gestion des genres</a></li>
                </ul>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto" *ngIf="loggedUser  && (AdminOrUser == 'Admin')">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    [Admin]
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
                    <li><a class="dropdown-item" routerLink="/users">List Users</a></li>
                    <li><a class="dropdown-item" routerLink="/add-user">Add user</a></li>
                </ul>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="/login" *ngIf="!loggedUser">login</a>
            </li>
            <li class="nav-item">
                <span class="nav-link" *ngIf="loggedUser"> {{loggedUser}} &nbsp; </span>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/logout" *ngIf="loggedUser">logout</a>
            </li>
        </ul>
    </div>
</nav>





