<form>
    <div >
    <label>ID Genre</label>
    <input readonly type="text" [(ngModel)]="genre.idGen" name="idGenre" class="form-control w-25">
    </div>

    <div>
    <label>Nom Genre</label>
    <input type="text" [(ngModel)]="genre.nomGen" name="nomGenre" class="form-control"
    placeholder="Entrez un nom de genre...">
    </div>

    <div>
    <label>Description Genre</label>
    <input type="text" [(ngModel)]="genre.descriptionGen" name="descriptionGenre" class="form-control"
    placeholder="Entrez une description de genre...">
    </div>
    <div class="mt-2">
    <button type="submit" [disabled]="!genre.nomGen" class="btn btn-success"
    (click)="saveGenre()" >{{ajout ? 'Ajouter' : 'Modifier'}}
    </button>

    </div>
</form>
    