<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table border="3" class="lignesEspacees">
                <!-- <table border="3" class="table table-striped"> -->
                <thead>
                    <tr>
                        <th scope="col">&nbsp;&nbsp;&nbsp;id&nbsp;&nbsp;&nbsp;&nbsp;</th>   
                        <th scope="col">&nbsp;ISBN&nbsp;</th>
                        <th scope="col">&nbsp;Titre&nbsp;</th>
                        <th scope="col">&nbsp;&nbsp;&nbsp;Auteur&nbsp;</th>
                        <th scope="col">&nbsp;Prix&nbsp;</th>
                        <th scope="col">&nbsp;Publication&nbsp;</th>
                        <th scope="col">&nbsp;Genre&nbsp;</th>
                        <th scope="col1" *ngIf="authService.isAdminVIP()">&nbsp;Delete&nbsp;</th>
                        <th scope="col2" *ngIf="authService.isAdminVIP()">&nbsp;Change&nbsp;</th>
                    </tr>
                </thead>
                <tbody *ngFor="let l of livres">
                    <tr>
                        <!--Data Binding-->
                        <td scope="row">{{l.idLivre}}</td>
                        <td> {{l.isbnLivre}} </td>
                        <td scope="row"> {{l.titreLivre}} </td>
                        <td> {{l.auteurLivre}} </td>
                        <td scope="row"> {{l.prixLivre}} </td>
                        <td> {{l.datePublication | date:'dd/MM/yyyy'}}</td>
                        <!--Genre-->
                        <!--<td *ngIf="! l.genre;">Pas de genre</td>
                        <td *ngIf="l.genre;">{{l.genre.nomGen}}</td>-->
                        <td scope="row1" >{{l.genre.nomGen}}</td>
                        <td><a class="btn btn-danger" (click)="supprimerLivre(l)" *ngIf="authService.isAdminVIP()">Supprimer</a></td>
                        <td><a class="btn btn-success" [routerLink]="['/updateLivre',l.idLivre]" *ngIf="authService.isAdminVIP()">Modifier</a></td>    
                </tbody>

            </table>
        </div>
    </div>
</div>