
<div class="main-content">
    <!--Header component-->
    <app-header></app-header>
    <!--Add Livre component-->
    <app-add-livre></app-add-livre>
    <!--Forbidden component-->
    <app-forbidden></app-forbidden>
    <!--Recherche Par Genre component-->
    <app-recherche-par-genre></app-recherche-par-genre>
    <!--Recherche Par Nom component-->
    <app-recherche-par-nom></app-recherche-par-nom>
    <!--Recherche Par Titre component-->
    <app-recherche-par-titre></app-recherche-par-titre>
    <!--Genres component-->
    <app-liste-genres></app-liste-genres>
    <!--Livres component-->
    <app-livres></app-livres>


    <main>
        <p>home works!</p>
      <!-- Router outlet -->
      <router-outlet></router-outlet>

    </main>
</div>